@import url("https://fonts.googleapis.com/css?family=Dosis");

.title {
  font-family: Dosis;
  color: #fef0a3;
  font-size: 50px;
  position: absolute;
  top: 710px;
  left: 469px;
}

.allcards {
  position: absolute;
  top: 840px;
  left: 50px;
}


@media screen and (min-width: 200px) and (max-width: 500px) {
   .title{
     /* display: flex; */
     margin-left: -90%;     
   }
}