@import url("https://fonts.googleapis.com/css?family=Dosis");

.mainabout {
  position: absolute;
  top: 300%;
  left: 35%;
}

.abouttitle {
  font-family: Dosis;
  color: #fef0a3;
  font-size: 50px;
}

.para {
  font-family: Dosis;
  color: #fef0a3;
  font-size: 40px;
  text-align: center;
  position: relative;
  left: -33%;
}

.teamimg {
  display: flex;
  width: 100%;
  position: relative; 
  left: -29%;
}

.title {
  font-family: Dosis;
  color: #fef0a3;
  font-size: 50px;
  position: absolute;
  top: 710px;
  left: 469px;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
   .mainabout{
     display: none;
   }
}