@import url("https://fonts.googleapis.com/css?family=Dosis");

/* Nav underline Effect */
a.underline-hover-effect {
    text-decoration: none;
    color: inherit;
  }
  
  .underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem; /* defines the space between text and underline */
    position: relative;
  }
  
  .underline-hover-effect::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #7aaf32;
    transition: width 0.25s ease-out;
  }
  .underline-hover-effect:hover::before {
    width: 100%;
    left: 0;
    right: auto;
  }

  .navhead {
    display: flex;
    color: #fef0a3;
    justify-content: space-evenly;
    flex-direction: row;
    width: 760px;
    height: 81px;
    margin-top: 0%;
    position: absolute;
    right: 29px;
    font-family:Dosis
  }  

  li {
    width: 50px;
    font-family: sans-serif;
    list-style: none;
    font-size: 20px;
    margin-top: 3%;
    cursor: pointer;
  }