.App {
  background-color:black;
  display:flex;
  flex-Direction:column;
}

body{
  background-color:black
}

@media screen and (min-width:300px) and (max-width:500px) {
  /* body{
    background-color:blue
  } */
}